* {
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}

:root{
    --white: #e8ebf7;
    --light-color: #177e89; 
    --dark-color: #2b3a67;
    --button: #227c9d;
    --red: #e84855;
}

body {
    background: var(--light-color)
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section h1{
    text-shadow: 2px 5px 5px var(--dark-color);
    color: var(--white);
    font-size: 2.5rem;
    word-spacing: 10px;
    letter-spacing: 2px;
    margin: 40px 0;
}

.container {
    background: var(--dark-color);
    margin: auto;
    width: 60%;
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding: 40px 0;
    border: 3px solid var(--white);
}

.inputs label{
    font-size: 1.5rem;
    word-spacing: 10px;
    letter-spacing: 2px;
    color: var(--white);
    margin-bottom: 20px;
}
.inputs input {
    padding: 10px;
    background-color: var(--red);
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: var(--white);
    margin: 10px 0;
    text-align: center;
    border: solid 3px var(--white);
}
img {
    width: 200px;
}
.imgDiv {
    margin: 10px 0 40px 0;
}

button {
    background: var(--button);
    width: 180px;
    padding: 4px 0;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 5px;
}

button:hover {
    cursor: pointer;
    text-shadow: 4px 0 var(--dark-color);
    background-color: var(--light-color);
}
footer {
    margin: auto;
    text-align: center;
    margin: 20px 0 10px 0;
}
footer p {
    color: var(--white);
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 5px;
}

@media (max-width: 650px) {

    section {
        padding: 5px 5px;
    }
    .container {
        width: 100vw;
        height: 100vh;
        width: 65%;
        height: 400px;
    }

    section h1{
        font-size: 1.5rem;
        margin: 30px 0;
    }
    
    img {
        width: 200px;
    }

    .inputs label{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .inputs input {
        padding: 5px;
        font-size: 1rem;
        margin: 10px 0;
    }

    button {
        width: 120px;
        padding: 4px 0;
        font-size: 1.2rem;
    }
    footer {
        margin: 30px 0 10px 0;
    }
    footer p {
        font-size: 1rem;
    }
}